.overlay {
    display: none;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.transparent-overlay {
    display: none;
    background: rgba(0, 0, 0, 0);
    z-index: 4;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.popup {
    border-radius: 5%;
    text-align: center;
    padding: 40px;
    font-size: x-large;
    z-index: 4;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 35%;
    background: rgb(13, 107, 139);
    border: 5px solid white;
    color: white;
}

.popup h2 {
    font-size: 20px;
}

.popup h3 {
    margin: 0;
    font-size: 60px;
}

.choose-color-popup.popup {
    /*top: 42%;*/
    /*left: 41%;*/
}


.choose-color-popup-buttons-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 105%;
    height: 60%;
    align-items: center;
}

.choose-color-popup-buttons-area .btn {
    width: 100px;
    height: 100px;
}
.choose-color-popup-buttons-area .btn:hover  {
    background: #0d6b8b;
    color: white;
    border: 2px solid white;
}

.red, .choose-color-popup-buttons-area .red:hover {
    background: red;
}

.blue, .choose-color-popup-buttons-area .blue:hover {
    background: blue;
}

.yellow, .choose-color-popup-buttons-area .yellow:hover {
    background: yellow;
}

.green, .choose-color-popup-buttons-area .green:hover {
    background: green;
}

.welcome-popup.popup {
    font-size: xx-large;
    z-index: 4;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 35%;
}

.winner-popup.popup {
    z-index: 4;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.welcome-popup-buttons-area {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}
.end-game-popup {
    justify-content: space-around;
}